#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainSection {
  flex-grow: 1;
}

.recetaCardContainer {
  min-width: 220px;
  /* max-width: 250px; */
}

.recetaCardImg {
  max-height: 400px;
  aspect-ratio: 3/2;
  object-fit: cover;
}

.banner {
  object-fit: cover;
  height: 395px;
  width: 100%;
}

.vistaCard {
  object-fit: cover;
  height: 395px;
  width: 100%;
}

.img-admin{
    min-width: 200px;
    width: 100%;
    height: 200px;
    object-fit: cover;
}